# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.tex
*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz


Builds/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Resources
*.fbx
*.jpg
*.png
*.bmp
*.dae

*.fbx.meta
*.jpg.meta
*.png.meta
*.bmp.meta
*.dae.meta