# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#.vscode/*
Builds/*/dbg
Builds/*/dev
Builds/*/rel
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Resources
*.fbx
*.jpg
*.png
