
firstScene:t="resources/Strategy/Scenes/test_scene.blk";
startGame:b=false;
shadersPaths { path:t="shaders/common"; path:t="shaders/Strategy"; }
resourcesPaths { path:t="resources/common"; path:t="resources/Strategy"; }
templatePaths { path:t="resources/common/Templates"; path:t="resources/Strategy/Templates"; }
