
firstScene:t="resources/MotionMatching/Scenes/test_scene.blk";
startGame:b=true;
shadersPaths { path:t="shaders/common"; path:t="shaders/MotionMatching"; }
resourcesPaths { path:t="resources/common"; path:t="resources/MotionMatching"; }
templatePaths { path:t="resources/common/Templates"; path:t="resources/MotionMatching/Templates"; }
